.form {
  margin-bottom: 30px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.formEnter {
  display: flex;
  flex-direction: column;
}

.formField {
    padding: 10px;
    margin-right: 10px;
    /* min-width: 50px; */
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    background-color: var(--color-light);
}

.formField::placeholder {
    font-size: 12px;
    color: var(--color-dark);
  }
  
  .formNotice {
    font-size: 10px;
    font-weight: 500;
    margin-top: 5px;
    display: inline-block;
    color: var(--color-accent);
  }

.formBtn {
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--color-lavander);
}

