.productsContainer {
  max-width: 1620px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.productsTitle {
  margin-bottom: 25px;
  text-align: center;
  color: rgb(41, 128, 128);
}

.productsBox {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  list-style-type: none;
}

.productDescr {
  margin-bottom: 40px;
  color: rgb(16, 16, 102);
}