.inputBox {
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
  display: block;
  color: var(--color-light);
}

.inputValue {
  padding: 5px;
  max-width: 300px;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  background-color: var(--color-light);
}

.inputValue::placeholder {
  font-size: 10px;
  color: #2e2c2c;
}

