.inputBox {
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
  display: block;
  color: var(--color-light);
}

.inputValue {
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  background-color: var(--color-light);
}

.primary {
  composes: inputValue;
  padding: 5px;
  min-width: 250px;
}

.range {
  composes: inputValue;
  margin-left: 3px;
  padding: 3px;
  width: 45px;
  height: 42px;
}

.inputValue::placeholder {
  font-size: 10px;
  color: #2e2c2c;
}
