.modalBox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(169, 173, 188, 0.5);
}
.modal {
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--color-bg-main);
}

.modalBtn {
  position: relative;
  top: -15px;
  right: 10px;
  width: 18px;
  height: 18px;
  align-self: flex-end;
  background: center/cover no-repeat url("../../images/icons/close.svg")
    var(--color-bg-main);
  border: none;
}
