.btn {

  font-size: 12px;
  margin-right: 10px;
  padding: 8px;
  text-transform: uppercase;
  width: 120px;
  border-radius: var(--border-radius);
  border: none;
  color: var(--color-light);
  background-color: rgb(63, 163, 63);
}
